<div class="card">
    <div class="card-header">
      <h4>Tender Bid No: {{tender.bidNo}}</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div *ngIf="tender.isClosed == true">
            <div class="form-group">
                <label>Eligible Suppliers For This Tender Contract</label>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col">Registration No</th>
                        <th scope="col">Score</th>
                        <th scope="col">Price Inflation Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let supplier of eligibleSuppliers">
                        <th>{{supplier.Company.name}}</th>
                        <td>{{supplier.Company.registration}}</td>
                        <td>{{supplier.score}}</td>
                        <td>{{supplier.inflationRate}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>