<div class="card">
  <div class="card-header">
    <h4>Available Tenders</h4>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Bid No</th>
              <th scope="col">State Organ</th>
              <th scope="col">Closing Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tender of tenders">
              <th>{{tender.bidNo}}</th>
              <td>{{tender.emailAddress}}</td>
              <td>{{tender.closeDate}}</td>
              <td><a [routerLink]="['/tenders', 'tender.tenderId']">View</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
