
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bid Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="modal-body">    
      <form (ngSubmit)="submit()">
        <label for="product"><h5>Product</h5></label>
        <input type="text" class="form-control" [(ngModel)]="tenderBidProduct.Description" name="product"><br>

        <label for="price"><h5>Price</h5></label>
        <input type="text" class="form-control" [(ngModel)]="tenderBidProduct.QuotedPrice" name="price"><br>

        <label for="quantity"><h5>Quantity</h5></label>
        <input type="number" class="form-control" [(ngModel)]="tenderBidProduct.Quantity" name="quantity"><br>
        
        <label for="total"><h5>Total</h5></label>
        <input type="number" class="form-control" [(ngModel)]="tenderBidProduct.Total" name="total">
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Add</button>
  </div>
</ng-template>

<br>
<div class="row">
 <div class="col-sm-6 col-md-12">
  <div class="card">
    <div class="card-header">
      <h4>Tender Bid Pricing</h4>
    </div>

    <div class="card-body">
      <div class="col-sm-3">
        <form>
          <div class="form-group">
            <label for="companyName"><h5>Company Name</h5></label>
            <input type="text" class="form-control" [(ngModel)]="tenderBidSubmission.companyName" name="companyName"><br>
  
            <label for="compnayRegistrationNumber"><h5>Company Registration Number</h5></label>
            <input type="text" class="form-control" [(ngModel)]="tenderBidSubmission.registrationNo" name="compnayRegistrationNumber"><br>
  
            <label for="tenderQuotation"><h5>Bid No:</h5></label>
            <input type="number" class="form-control" [(ngModel)]="tenderBidSubmission.bidNo" name="tenderQuotation"><br>
            
            <label for="tenderQuantityTotalPrice"><h5>Tender Quantity Total Price</h5></label>
            <input type="number" class="form-control" [(ngModel)]="tenderBidSubmission.totalQuotation" name="tenderQuantityTotalPrice">
  
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>
</div>
<br>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Tender Bid Submission</h4>
        <div class="card-body">
          <table class="table table-bordless">
            <thead class="thead-light">
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th><button type="submit" class="btn btn-primary"  (click)="open(mymodal)" >Add</button></th>
            </thead>
            <tbody>
              <tr *ngFor="let product of tenderBidSubmissionProducts">
                <td>{{ product?.Description}}</td>
                <td>{{ product?.QuotedPrice}}</td>
                <td>{{ product?.Quantity }}</td>
                <td>{{ product?.Total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>


